* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  user-select: none;
}

body {
  height: 100vh;
  background: linear-gradient(#190159, #5700e3);
  align-items: center;
}

.background {
  position: fixed;
  height: 100%;
  width: 100%;
  font-size: 2em;
  color: #f63cff;
  display: flex;
  justify-content: space-around;
  z-index: 0;
}

.fa-css3 {
  right: 10%;
  position: absolute;
  animation: techRun 3s linear infinite;
}

.fa-html5 {
  right: 21%;
  position: absolute;
  animation: techRun 6s linear infinite;
}
.fa-square-js {
  right: 32%;
  position: absolute;
  animation: techRun 4s linear infinite;
}
.fa-node-js {
  right: 43%;
  position: absolute;
  animation: techRun 8s linear infinite;
}
.fa-git-alt {
  right: 54%;
  position: absolute;
  animation: techRun 9s linear infinite;
}
.fa-react {
  right: 65%;
  position: absolute;
  animation: techRun 10s linear infinite;
}

.fa-github-alt {
  right: 76%;
  position: absolute;
  animation: techRun 7s linear infinite;
}

.fa-npm {
  right: 87%;
  position: absolute;
  animation: techRun 5s linear infinite;
}

@keyframes techRun {
  from {
    top: -2em;
  }

  to {
    top: 100%;
  }
}

main {
  position: absolute;
  top: 10vh;
  left: 5%;
  height: 80vh;
  width: 90%;
  background-color: #7826f2d5;
  border-radius: 1.5em;
  animation: flicker 4s alternate;
  box-shadow: 0 0 7px #5bd4f2, 0 0 10px #5bd4f2, 0 0 42px #5bd4f2;
  color: #190159;
  z-index: 1;
  flex: auto;
  flex-wrap: wrap;
  overflow: scroll;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    box-shadow: 0 0 7px #5bd4f2, 0 0 10px #5bd4f2, 0 0 42px #5bd4f2;
  }

  5%,
  20%,
  24%,
  55%,
  70% {
    box-shadow: none;
  }
}


nav {
  display: flex;
  justify-content: flex-end;
  margin: 1em 1.5em 0 0;
  gap: 1.5em;
}

.navbar-socials a {
  color: #5bd4f2;
  font-size: 2em;
  text-shadow: 0.1em 0.1em 0.1em #190159;
}

.fa-brands:hover {
  color: #f63cff;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  height: 55vh;
  color: #5bd4f2;
  align-items: center;
  justify-content: space-around;
  margin: 0 6em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  font-size: 1.1em;
}

.head {
  font-size: 1.4em;
  font-weight: 600;
}

.typed-out {
    overflow: hidden;
    border-right: .15em solid #190159;
    white-space: nowrap;
    animation: typing 4s steps(22, end) forwards, blink .5s infinite;
    font-size: 1.6rem;
    color: #190159;
    margin-bottom: 1em;
}

@keyframes typing {
    from { width: 0 }
    to { width: 76% }
}

@keyframes blink {
    from { border-color: transparent }
    to { border-color: #5bd4f2; }
}

.links {
  height: 15vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 80%;
  background-color: transparent;
}

button {
    border: none;
    color: #5bd4f2;
    background-color: #5700e3;
    padding: 0.6rem 1.2rem;
    width: 8em;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 1em;
    box-shadow: 0.1em 0.1em 0.1em #190159;
}

button:hover {
    cursor: pointer;
    box-shadow: .0 .1em .1em #f63cff, .0 .0 .2em #f63cff;
}



.hero-img {
  background: transparent;
  border-radius: 50%;
  width: 25%;
  box-shadow: 0.4em 0.4em 0.8em #190159;
}

h1 {
  margin-bottom: 1rem;
}

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 5;
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 51%;
  width: 80%;
  max-width: 90%;
  background-color: #f63cff;
  padding: 2rem;
  border-radius: 0.5rem;
  z-index: 10;
  box-shadow: 0.4em 0.4em 0.8em #190159;
}

#fade,
#modal {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: .1em solid #5700e3;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.modal-body p {
  margin-bottom: 1rem;
}

#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

#modal.hide {
  top: 0;
}

.work {
  height: 150vh;
  display: flex;
  flex-direction: column;
}

.work-container{
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #5bd4f2;
  align-items: center;
  justify-content: space-around;
}

.work-title {
  text-align: center;
}

.work-title .fa-brands {
  animation: none;
}

.projects-grid {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 50%);
  justify-items: center;
  padding: 5em;
  height: 40vh;
  width: 80%;
}

.card {
  border-radius: 2em;
  text-align: center;
  margin: 0.5em 1em;
}

.card button {
  padding: 0.6rem 1.2rem;
  width: 20em;
}

.card a {
  color: #5bd4f2;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5em;
}

.card img {
  height: 80%;
  width: 100%;
  border-radius: 2em;
  box-shadow: 0.4em 0.4em 0.8em #190159;
}

@media only screen and (max-width: 900px) {
.hero-img {
  width: 80%;
}

.content {
  text-align: center;
  font-size: .8em;
}

.typed-out {
  animation: none;
}

.links {
  position: relative;
  top: 2%;
  left: 25%;
  display: flex;
  align-items: center;
  height: 10em;
  width: 20%;
  gap: 1.5em;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  font-size: .8em;
  width: 10%;
}

.work-container {
  margin-top: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.card {
  width: 80%;
  text-align: center;
}

.projects-grid button {
  width: 90%;
}

.contact {
  margin: -5em 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 2em;
}

.form-body {
  width: 90%;
}

}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
  margin-top: 5vh;
}

.contact-form {
  display: flex;
  justify-content: space-around;
  color: #5bd4f2;
}

form {
  width: 50%;
  background-color: #190159;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.4em 0.4em 0.8em #5bd4f2;
}

.feedback-input {
  color:#190159;
  font-size: .9rem;
  border-radius: .5rem;
  line-height: .5rem;
  border: .08rem solid #5bd4f2;
  transition: all 0.3s;
  padding: .8rem;
  margin-bottom: 0.5rem;
  width: 100%;
  background-color: #5bd4f2;
  outline:0;
}

textarea {
  height: 10vh;
  line-height: 10%;
  resize: none;
}

[type="submit"] {
  font-family: sans-serif;
  width: 100%;
  background:#f63cff;
  border-radius: .5rem;
  border: 0;
  cursor: pointer;
  color: #190159;
  font-size: 1.5rem;
  padding: .8rem 0;
  font-weight: 700;
}

[type="submit"]:hover { 
  background:#5700e3; 
  color: #f63cff; 
}

footer {
  font-size: .8em;
  text-align: center;
  color: #5bd4f2;
  top: 96vh;
  position: relative;
}

footer a {
  color: #5bd4f2;
  text-decoration: none;
}

strong {
  color: #f63cff;
}
