@use "./responsive.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #282828;
  --primary: #3bd5c3;
  --border: #004749;
  --dark: #030104;
  --text: #e5e1d9;

  font-family: "Quicksand", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--background);
  color: var(--text);
}

/* Header and navbar */

header {
  display: flex;
  font-size: 1rem;
  padding: 1.5rem 8rem;
  align-items: center;
}

nav {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: space-between;
}

header > nav > .navbar-brand {
  color: var(--primary);
  font-size: 2rem;
  padding: 0.2rem;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: radial-gradient(
    circle at top left,
    var(--primary),
    transparent 90%
  );
  box-shadow: -0.1rem 0.1rem 0.8rem 0.1rem var(--dark);
}

.toggle-button {
  display: none;
  color: var(--primary);
}

.navbar-links {
  display: flex;
  justify-self: flex-end;
  gap: 0.5rem;
}

.navbar-links > a {
  padding: 0.6rem;
  transition: 0.5s;
  border: 1.5px solid;
  text-decoration: none;
  border-image-slice: 1;
  color: var(--primary);
  border-image-source: radial-gradient(
    circle at top left,
    var(--primary),
    transparent 50%
  );
  box-shadow: -0.1rem 0.2rem 0.4rem 0.1rem var(--dark);
}

.navbar-links > a:hover {
  border: 1.5px solid var(--primary);
  border-image-slice: 1;
  border-image-source: radial-gradient(
    circle at bottom,
    var(--primary),
    transparent 90%
  );
  box-shadow: none;
}

/* Main styles */

main {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  max-width: 100%;
  font-size: 1.5rem;
  max-height: 80vh;
  display: inherit;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

.headers {
  font-size: 2rem;
  color: var(--primary);
  padding: 0.5rem 0;
  border-block-end: 0.1rem solid;
  border-image-slice: 1;
  border-image-source: radial-gradient(
    circle at bottom left,
    var(--primary),
    transparent 50%
  );
  text-shadow: 0.2rem 0.2rem 0.2rem var(--dark);
}

/* Hero section */

.hero-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 10%;
  min-width: 10%;
  padding: 10rem;
  border-inline-start: 0.1rem solid;
  border-inline-end: 0.1rem solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(-10deg, var(--primary), transparent 70%);
  text-shadow: 0.2rem 0.2rem 0.2rem var(--dark);
}

.hero-container > .typed-out {
  overflow: hidden;
  margin-bottom: 1em;
  white-space: nowrap;
  color: var(--primary);
  border-right: 0.15rem solid var(--border);
  animation: typing 3s steps(24, end) forwards, blink 0.6s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: var(--primary);
  }
}

/* About section */

#about {
  gap: 4rem;
  display: inherit;
  margin: 10rem 0;
  padding: 0 10rem;
  align-items: center;
  justify-content: center;
}

#about > figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about > figure > .profile-image {
  border-radius: 50%;
  max-width: 80%;
  height: auto;
  filter: drop-shadow(1rem 0.2rem 1rem var(--dark));
}

.about-content {
  padding: 2rem;
  display: inherit;
  flex-direction: column;
}

/* Projects section */

#work {
  display: inherit;
  flex-direction: column;
  margin: 10rem 0;
  padding: 0 10rem;
}

.work-tiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(10rem, 100%);
  gap: 2rem;
  flex: 1 0 auto;
  padding: 2rem;
}

.work-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-height: 40rem;
  max-width: 25rem;
  transition: 0.5s;
  border: 0.1rem solid #004749;
  cursor: pointer;
  filter: opacity(50%);
}

.work-card:hover {
  border: 0.1rem solid var(--primary);
  box-shadow: 0.4em 0.4em 0.8em var(--dark);
  filter: grayscale(0%);
}

.work-card > a {
  color: var(--text);
  text-decoration: none;
}

.work-card > a > img {
  max-height: 80%;
  width: 100%;
}

/* Contact section */

#contact {
  margin: 5rem 0;
}

#contact > article {
  display: flex;
  padding: 10rem;
  align-items: center;
  justify-content: space-between;
}

.contact-media {
  gap: 1.5rem;
  display: flex;
  transition: ease 0.5s;
}

.fa-brands {
  color: #e5e1d9;
  font-size: 2rem;
  transition: 0.5s;
}

.fa-brands:hover {
  color: var(--primary);
}

form {
  padding: 1rem;
  background-color: var(--border);
  box-shadow: 0.4em 0.4em 0.8em var(--dark);
}

form .input {
  font-size: 1rem;
  line-height: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  background-color: var(--primary);
  border: 0.08rem solid var(--border);
  outline: 0;
}

textarea {
  height: 10vh;
  line-height: 10%;
  resize: none;
}

form > button {
  width: 100%;
  background: var(--primary);
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.8rem 0;
  border: 0.1rem solid transparent;
  transition: 0.5s;
}

form > button:hover {
  background: var(--border);
  border: 0.1rem solid var(--primary);
  color: var(--primary);
}

/* Footer section */

footer {
  color: var(--primary);
  text-align: center;
  padding: 1rem 0;
}
